html {
	font-size: 16px;
	line-height: 1.5;
	font-family: Tahoma, Arial, Roboto, "Droid Sans", "Helvetica Neue", "Droid Sans Fallback", "Hiragino Sans GB", SimHei, sans-serif;
	cursor: default;
	user-select: none;
	overflow-x: hidden;
}
