/*
 * Component: Tab
 * Create:    2016-07-15
 */
.tab {
    .selectors {
        .selector {
            text-align: center;
            cursor: pointer;
        }
        .selector.active {
            background-color: #EEE;
        }
        .selector.disable {
            color: #DDD;
            cursor: default;
        }
    }
    .indicator {
        float: left;
        height: 2px;
        margin-top: -2px;
        transition-duration: 0.5s;
    }
    .panels {
        font-size: 0;
        white-space: nowrap;
    	.panel {
    	    display: inline-block;
    	    width: 100%;
    	    font-size: 1rem;
            transition-duration: 0.5s;
    	}
    }
}
