/*
 * Component: Collapsable
 * Create:    2016-07-18
 */
.item { overflow: hidden; transition-duration: 0.5s; }
.trigger { border-top: 1px solid #DDD; cursor: pointer; }
.panel { background-color: #EEE; border-top: 1px solid #DDD; }
