.ripple {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    
    .rippleEffect {
        position: absolute;
        width: 2px;
        height: 2px;
        background-color: #FFF;
        border-radius: 100%;
        transition-duration: 0.8s;
    }
}
