/*
 * Effect: Ripple
 * Create: 2016-07-20
 */
.ripple {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    
    .rippleEffect {
        position: absolute;
        width: 2px;
        height: 2px;
        background-color: #FFF;
        border-radius: 100%;
        transition-duration: 0.8s;
    }
}
