@import "../../public/material/material.scss";

.ripple {
	position: absolute;
	top:    0;
	right:  0;
	bottom: 0;
	left:   0;
	overflow: hidden;
	
	.rippleEffect {
		@extend %animation;
		@extend %animation-speed-slow;
		
		position: absolute;
		width:  2px;
		height: 2px;
		border-radius: 100%;
		
		&.white { background-color: $color-white; }
		&.red   { background-color: $color-red; }
		&.blue  { background-color: $color-blue; }
	}
}
