@import "../../public/material/material.scss";

.input {
	@extend %animation;
	@extend %animation-speed-fast;
	
	display: inline-block;
	background-color: transparent;
	border: none;
	border-bottom: 0.125rem solid $color-border;
	outline: none;
	
	&:focus {
		border-bottom: 0.125rem solid $color-main;
	}
}
