@import "../../public/material/material.scss";

.slider {
	overflow: hidden;
	padding: 1rem;
	
	.bar {
		position: relative;
		float: left;
		width:  80%;
		height: 1.25rem;
		margin: auto;
		
		.display {
			position: absolute;
			top: 0.5625rem;
			width:  100%;
			height: 0.125rem;
			background-color: $color-enable;
		}
		.outer {
			@extend %animation;
			@extend %animation-speed-fast;
			
			position: absolute;
			width:  1rem;
			height: 1rem;
			margin-left: -0.5rem;
			border: 0.125rem solid $color-main;
			border-radius: 100%;
			cursor: pointer;
			
			&:hover {
				transform: scale(1.25);
			}
			
			&:active {
				transform: scale(1);
				transition-duration: 0s;
			}
			
			.inner {
				margin: 0.125rem;
				width:  0.75rem;
				height: 0.75rem;
				background-color: $color-main;
				border-radius: 100%;
			}
		}
	}
	
	.input {
		float: left;
		width: 12%;
		margin: 0 1rem;
	}
	
	&:after {
		@extend %clearfix;
	}
}
