%clearfix { content: ""; display: block; clear: both; }

%animation { transition-timing-function: cubic-bezier(0.24, 0.48, 0.48, 0.96); }

%animation-speed-fast    { transition-duration: 0.25s; }
%animation-speed-normal  { transition-duration: 0.5s ; }
%animation-speed-slow    { transition-duration: 0.75s; }

.mtb1 { margin-top:   0.5rem; margin-bottom:  0.5rem; }
.mtb2 { margin-top:   1.0rem; margin-bottom:  1.0rem; }
.mtb3 { margin-top:   1.5rem; margin-bottom:  1.5rem; }
.mtb4 { margin-top:   2.0rem; margin-bottom:  2.0rem; }
.mlr1 { margin-left:  0.5rem; margin-right:   0.5rem; }
.mlr2 { margin-left:  1.0rem; margin-right:   1.0rem; }
.mlr3 { margin-left:  1.5rem; margin-right:   1.5rem; }
.mlr4 { margin-left:  2.0rem; margin-right:   2.0rem; }
.plr1 { padding-left: 0.5rem; padding-right:  0.5rem; }
.plr2 { padding-left: 1.0rem; padding-right:  1.0rem; }
.plr3 { padding-left: 1.5rem; padding-right:  1.5rem; }
.plr4 { padding-left: 2.0rem; padding-right:  2.0rem; }
.mtb1 { padding-top:  0.5rem; padding-bottom: 0.5rem; }
.mtb2 { padding-top:  1.0rem; padding-bottom: 1.0rem; }
.mtb3 { padding-top:  1.5rem; padding-bottom: 1.5rem; }
.mtb4 { padding-top:  2.0rem; padding-bottom: 2.0rem; }

.row:after { @extend %clearfix; }
	.col { float: left; }
	.col.grid-s1      { width: 8.33%; }
	.col.grid-s2      { width: 16.66%; }
	.col.grid-s3      { width: 25%; }
	.col.grid-s4      { width: 33.33%; }
	.col.grid-s5      { width: 41.66%; }
	.col.grid-s6      { width: 50%; }
	.col.grid-s7      { width: 58.33%; }
	.col.grid-s8      { width: 66.66%; }
	.col.grid-s9      { width: 75%; }
	.col.grid-s10     { width: 83.33%; }
	.col.grid-s11     { width: 91.66%; }
	.col.grid-s12     { width: 100%; }
	.col.grid-ofs-s1  { margin-left: 8.33%; }
	.col.grid-ofs-s2  { margin-left: 16.66%; }
	.col.grid-ofs-s3  { margin-left: 25%; }
	.col.grid-ofs-s4  { margin-left: 33.33%; }
	.col.grid-ofs-s5  { margin-left: 41.66%; }
	.col.grid-ofs-s6  { margin-left: 50%; }
	.col.grid-ofs-s7  { margin-left: 58.33%; }
	.col.grid-ofs-s8  { margin-left: 66.66%; }
	.col.grid-ofs-s9  { margin-left: 75%; }
	.col.grid-ofs-s10 { margin-left: 83.33%; }
	.col.grid-ofs-s11 { margin-left: 91.66%; }
	.col.grid-ofs-s12 { margin-left: 100%; }
@media only screen and (min-width: 600px) {
	.col.grid-m1      { width: 8.33%; }
	.col.grid-m2      { width: 16.66%; }
	.col.grid-m3      { width: 25%; }
	.col.grid-m4      { width: 33.33%; }
	.col.grid-m5      { width: 41.66%; }
	.col.grid-m6      { width: 50%; }
	.col.grid-m7      { width: 58.33%; }
	.col.grid-m8      { width: 66.66%; }
	.col.grid-m9      { width: 75%; }
	.col.grid-m10     { width: 83.33%; }
	.col.grid-m11     { width: 91.66%; }
	.col.grid-m12     { width: 100%; }
	.col.grid-ofs-m0  { margin-left: 0; }
	.col.grid-ofs-m1  { margin-left: 8.33%; }
	.col.grid-ofs-m2  { margin-left: 16.66%; }
	.col.grid-ofs-m3  { margin-left: 25%; }
	.col.grid-ofs-m4  { margin-left: 33.33%; }
	.col.grid-ofs-m5  { margin-left: 41.66%; }
	.col.grid-ofs-m6  { margin-left: 50%; }
	.col.grid-ofs-m7  { margin-left: 58.33%; }
	.col.grid-ofs-m8  { margin-left: 66.66%; }
	.col.grid-ofs-m9  { margin-left: 75%; }
	.col.grid-ofs-m10 { margin-left: 83.33%; }
	.col.grid-ofs-m11 { margin-left: 91.66%; }
	.col.grid-ofs-m12 { margin-left: 100%; }
}
@media only screen and (min-width: 960px) {
	.col.grid-l1      { width: 8.33%; }
	.col.grid-l2      { width: 16.66%; }
	.col.grid-l3      { width: 25%; }
	.col.grid-l4      { width: 33.33%; }
	.col.grid-l5      { width: 41.66%; }
	.col.grid-l6      { width: 50%; }
	.col.grid-l7      { width: 58.33%; }
	.col.grid-l8      { width: 66.66%; }
	.col.grid-l9      { width: 75%; }
	.col.grid-l10     { width: 83.33%; }
	.col.grid-l11     { width: 91.66%; }
	.col.grid-l12     { width: 100%; }
	.col.grid-ofs-l0  { margin-left: 0; }
	.col.grid-ofs-l1  { margin-left: 8.33%; }
	.col.grid-ofs-l2  { margin-left: 16.66%; }
	.col.grid-ofs-l3  { margin-left: 25%; }
	.col.grid-ofs-l4  { margin-left: 33.33%; }
	.col.grid-ofs-l5  { margin-left: 41.66%; }
	.col.grid-ofs-l6  { margin-left: 50%; }
	.col.grid-ofs-l7  { margin-left: 58.33%; }
	.col.grid-ofs-l8  { margin-left: 66.66%; }
	.col.grid-ofs-l9  { margin-left: 75%; }
	.col.grid-ofs-l10 { margin-left: 83.33%; }
	.col.grid-ofs-l11 { margin-left: 91.66%; }
	.col.grid-ofs-l12 { margin-left: 100%; }
}

$color-white: #F7F7F7;
$color-lightgrey: #D7D7D7;
$color-grey: #606060;
$color-darkgrey: #4F4F4F;
$color-black: #070707;
$color-red: #E51C23;
$color-orange: #FF9800;
$color-blue: #2196F3;

$color-main: $color-blue;
$color-main-lighten1: lighten($color-main,  5%);
$color-main-lighten2: lighten($color-main, 10%);
$color-main-lighten3: lighten($color-main, 15%);
$color-main-lighten4: lighten($color-main, 20%);
$color-main-lighten5: lighten($color-main, 25%);
$color-main-darken1: darken($color-main,  5%);
$color-main-darken2: darken($color-main, 10%);
$color-main-darken3: darken($color-main, 15%);
$color-main-darken4: darken($color-main, 20%);
$color-main-darken5: darken($color-main, 25%);

$color-warning: $color-orange;
$color-error: $color-red;
$color-disable: $color-grey;
$color-enable: $color-darkgrey;

$color-font: $color-black;
$color-background: $color-white;
$color-border: $color-lightgrey;
$color-shadow: $color-black;

.colorMain { background-color: $color-main; }
	.colorMainLighten1 { background-color: $color-main-lighten1; }
	.colorMainLighten2 { background-color: $color-main-lighten2; }
	.colorMainLighten3 { background-color: $color-main-lighten3; }
	.colorMainLighten4 { background-color: $color-main-lighten4; }
	.colorMainDarken1 { background-color: $color-main-darken1; }
	.colorMainDarken2 { background-color: $color-main-darken2; }
	.colorMainDarken3 { background-color: $color-main-darken3; }
	.colorMainDarken4 { background-color: $color-main-darken4; }

.shadow0 { box-shadow: none; }
.shadow1 { box-shadow: 0  2px  5px 0 rgba($color-black, 0.16), 0  4px 10px 0 rgba($color-black, 0.12); }
.shadow2 { box-shadow: 0  7px 10px 0 rgba($color-black, 0.18), 0  9px 20px 0 rgba($color-black, 0.16); }
.shadow3 { box-shadow: 0 12px 15px 0 rgba($color-black, 0.2 ), 0 16px 32px 0 rgba($color-black, 0.2 ); }
.shadow4 { box-shadow: 0 17px 20px 0 rgba($color-black, 0.21), 0 25px 48px 0 rgba($color-black, 0.22); }
.shadow5 { box-shadow: 0 20px 25px 0 rgba($color-black, 0.21), 0 36px 64px 0 rgba($color-black, 0.23); }

.interactHover {
	position: relative;
	
	&:before {
		@extend %animation;
		@extend %animation-speed-normal;
		
		content: "";
		position: absolute;
		top:    0;
		right:  0;
		bottom: 0;
		left:   0;
		background-color: $color-white;
		opacity: 0;
	}
	
	&:hover:before { opacity: 0.2; }
}

.interactActive {
	position: relative;
	
	&:before {
		@extend %animation;
		@extend %animation-speed-normal;
		
		content: "";
		position: absolute;
		top:    0;
		right:  0;
		bottom: 0;
		left:   0;
		background-color: $color-white;
		opacity: 0;
	}
	
	&:active:before { opacity: 0.3; }
}
